.App {
  text-align: center;
}

h1 {
  background-color: lightgrey;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}

label,
input {
  display: block;
  margin: 5px auto;
  min-width: 280px;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.header-buttons button,
.header-buttons input,
.header-buttons select,
.header-buttons label {
  height: 34px;
  width: 160px;
  font-size: 16px;
}

.sort,
.search,
.search-form {
  margin: 0 20px;
}
.search-form {
  display: flex;
  align-items: center;
}

.form-button {
  margin-left: 10px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}
.movie {
  border: 2px solid lightgrey;
  border-radius: 7px;
  width: 300px;
  margin: 10px;
  padding: 0.5rem;
  font-size: 14px;
}

.movie.movie-popular {
  background-color: lightseagreen;
}

.movie img {
  padding: 0 40px;
  height: 220px;
}

.movie-content {
  width: 40%;
}

.banner {
  background-color: rgb(251, 107, 18);
  border-radius: 7px;
  color: black;
  font-weight: bold;
  padding: 5px 0;
  font-size: 16px;
}

.banner.average {
  background-color: grey;
}
