.App {
  text-align: center;
}

h1 {
  background-color: lightgrey;
  padding: 30px;
  margin: 0;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}
.movie {
  border: 2px solid lightgrey;
  width: 300px;
  margin: 10px;
  padding: 0.5rem;
  font-size: 14px;
}

.movie.movie-popular {
  background-color: lightseagreen;
}

.movie img {
  padding: 0 40px;
  height: 220px;
}

.movie-content {
  width: 40%;
}

.banner {
  background-color: rgb(251, 107, 18);
  color: black;
  font-weight: bold;
  padding: 5px 0;
  font-size: 16px;
}

.banner.average {
  background-color: grey;
}
